.title {
  text-align: center;
  color: rgb(180, 180, 180);
  margin-top: 1%;
  margin-bottom: 20px;
}
.checkOut {
  margin: 5px;
  width: 45%;
  height: 50px;
  border-radius: 15px;
  font-size: 150%;
  background-color: rgb(206, 206, 206);
}
.checkOut:hover {
  background-color: rgb(236, 236, 236);
}
.background {
  height: 100%;
  border-radius: 15px;
  width: 120%;
  background-color: rgb(80, 0, 0);
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
}
.borderRight {
  border-right-color: rgb(145, 145, 145);
  border-right-width: 2px;
  height: 100%;
  border-right-style: solid;
}

input {
  background-color: rgb(228, 228, 228);
  width: 90%;
  height: 15%;
  margin-top: 4%;
  border-radius: 10px;
  font-size: 30px;
}

.checkIn {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  color: rgb(180, 180, 180);
  font-size: 200%;
}
.checkIn2 {
  background-color: rgb(236, 236, 236);
  border-color: black;
  width: 60%;
  height: 50px;
  border-radius: 15px;
  font-size: 60%;
  color: rgb(0, 0, 0);
  font-size: 150%;
  margin-top: 5%;
}
.time {
  color: rgb(180, 180, 180);
  font-size: 30%;
}
.back {
  margin-top: 3%;
  width: 50%;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(211, 211, 211);
  font-size: 130%;
}
