.background {
  height: 570px;
  border-radius: 15px;
  background-color: rgb(199, 199, 199);
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
}
.borderRight {
  border-right-color: rgb(145, 145, 145);
  border-right-width: 2px;
  height: 565px;
  border-right-style: solid;
}
.checkIn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 80%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 15px;
  font-size: 150%;
  font-weight: 600;
}
input {
  background-color: rgb(228, 228, 228);
  width: 90%;
  height: 15%;
  margin-top: 4%;
  border-radius: 10px;
  font-size: 30px;
}
.checkOut {
  margin-top: 15px;
  margin: 10px;
  width: 90%;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  background-color: white;
}
.checkOut:hover {
  background-color: rgb(236, 236, 236);
}
#Name {
  margin-top: 10px;
  font-size: 36px;
}
